body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


img {
  width: 300px;
  height: 250px;

}



.plant-card,
.cart-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 350px;
  text-align: center;
}

.plants-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 12px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:hover {
  padding-right: 25px;
}

button:hover:after {
  opacity: 1;
  right: 0;
}

.navbar{
  display: block;
  background-color: antiquewhite;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.plant-card,
.cart-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 250px;
  text-align: center;
}

.plants-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/*LandingPage.css*/
.landing-page {
  background-image: url('../public/images/background.jpg');
  background-size: cover;
  height: 400px;
}


.overlay {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
p.company-description {
  font-style: oblique;
  font-weight: 700;
}